/*
*
*    Author:    Michael Raffaele <michael@mraffaele.com>
*    Date:    25th October 2011
*    Info:     http://www.mraffaele.com/blog/2011/10/25/css-accordion-no-javascript/
*
*/

/* Shared for all accordion types */

/**
azul escuro		5090CD
azul claro			DDE9F5
cinza escuro		6E6F71
cinza claro		F0F0F2

 */


* {margin:0; padding:0px;}


.placa {
	background:#5090CD;
	height:250px;
	color:#ffffff;
	float:left; width:100%;
	color: black;
}

.title {
	font-size: 25px;
	margin-left:20px;
	margin-top:70px; display:block;
	color: black;
}

.menor {
	font-size: 15px;
	margin-left:20px;display:block;
	color: black;
}

.accordion {
    font-family:Arial, Helvetica, sans-serif; 
    margin:0 auto;
    font-size:14px;
    /*border:1px solid #542437;*/
    /*border-radius:10px;*/
    /*width:100%;*/
    /*padding:10px;*/
     float:left;
     color: black;
}
.accordion ul {
    list-style:none;
    margin:0;
    padding:0;
    color: black;  
}
.accordion li {
    margin:0;
    padding:0;
    position:relative;
    color: black;
}

.accordion li .labelBox .arrow {
	position:absolute;
	right:10px; top:20px;
	color: black;
	background:url("arrowDrop.png") no-repeat scroll 0px 0px; width:19px; height:16px
}

.accordion .active .labelBox .arrow {
	background:url("arrowDrop.png") no-repeat scroll -0px -16px; 
	color: black;
}

.accordion [type=radio], .accordion [type=checkbox] {
    display:none;
}
.accordion .labelBox {
    font-size:16px;
    /*color:#ccc;*/
    color: black;
    // text-shadow:1px 1px 1px #5090CD;
    font-weight:700;
    cursor:pointer;
    text-transform:uppercase;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    margin-left:10px;
    padding:15px 0;
    float:left;
    border-bottom:1px solid #ccc; width:100%;
}

.accordion .imgIcon { margin-right:50px; margin-top:0px;  float:left; position:relative; top:0px;}
.accordion label { float:left; margin-top:15px; width: 50%; color: black;}
/*.accordion ul li label:hover, .accordion [type=radio]:checked ~ label, .accordion [type=checkbox]:checked ~ label {
    background:#737373;
    color:#FFF;
    /* text-shadow:1px 1px 1px #5090CD
}*/


.accordion .content {
    padding:0 0px;
  display:none;
  color: black;
   /* border:1px solid #fff; /* Make the border match the background so it fades in nicely */
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
}

.active .content { display:block; color: black;}

.accordion p {
    color:#333;
    margin:0 0 10px;
    color: black;
}
.accordion h3 {
    color:#542437;
    padding:0;
    margin:10px 0;
    color: black;
}

.cb { padding:10px 20px; color: black;}

.content * { color:#ccc; font-size:12px; color: black;}
.content img { width:200px; color: black;}

/* Vertical */
.vertical ul li {
    float:left;
    width:100%;
    margin:0 0 0px;
  
}
.vertical ul li .labelBox {
    padding:0px;
    display:block;
    width:100%; line-height:16px;
}
/*.vertical [type=radio]:checked ~ label, .vertical [type=checkbox]:checked ~ label {
    border-bottom:0;
}*/

.vertical ul li .content {
   font-size:16px;
    color:#ccc;
    float:left;
    width:100%;
    display:none;
}
/*.vertical [type=radio]:checked ~ label ~ .content, .vertical [type=checkbox]:checked ~ label ~ .content {
    border:1px solid #5090CD;
}*/